$main-bg-color: #4969fb;
$second-bg-color: #6783ff;
$tree-bg-color: #99acff;
$quad-bg-color: #d9e0ff;
$red-bg-color: rgb(255, 85, 85);
$green-bg-color: #50C878;
$grey-1: rgb(247, 248, 252);
$grey-2: rgb(233, 234, 240);
$grey-3: rgb(225, 226, 233);
$grey-4: rgb(215, 215, 224);
$grey-5: rgb(175, 181, 186);
$grey-6: rgb(95, 95, 95);
$grey-9: rgb(85, 85, 91);
$grey-10: rgb(52, 52, 59);

$transition-1: all ease-in-out 0.1s;
$transition-2: all ease-in-out 0.2s;